[Unit]
Description=Gunicorn instance to serve the FastapiOpenResty Configurator
After=network.target

[Service]
User=root
Group=root

KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

WorkingDirectory={{ FORC_INSTALLATION_PATH }}/simpleVMWebGateway/FastapiOpenRestyConfigurator
ExecStart={{ FORC_INSTALLATION_PATH }}/simpleVMWebGateway/FastapiOpenRestyConfigurator/venv/bin/gunicorn -c gunicorn_conf.py main:app

Environment="PATH={{ FORC_INSTALLATION_PATH }}/simpleVMWebGateway/FastapiOpenRestyConfigurator/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"

[Install]
WantedBy=multi-user.target